@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary: rgba(18, 18, 18, 1);
    --clr-secondary: rgba(127, 127, 127, 1);
    --clr-light-brown: rgba(162, 123, 92, 1);
    --clr-dark-brown: rgb(123, 80, 43, 1);

    --fs-20: 1.25rem;
    --fs-24: 1.5rem;
    --fs-36: 2.25rem;

    --fw-400: 400;
    --fw-500: 500;

    --lh-1: 1.4;
    --lh-2: 1.3;
    --lh-3: 1.1;

    --ls: .03em;
    --ff-primary: 'DM Sans', sans-serif;
}

body {
    height: 100%;
    min-height: 100vh;

    display: grid;
    place-items: center;

    font-size: 1rem;
    font-weight: 400;
    font-family: var(--ff-primary);
    color: var(--clr-primary);
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.food__item {
    gap: 1em;
    display: flex;
    flex-direction: column;
}

.food__image {
    width: 100%;
    display: block;
}

.food__content {
    gap: .5em;
    display: flex;
    flex-direction: column;
}

.food__content h3 {
    font-size: var(--fs-24);
    font-weight: var(--fw-500);
    line-height: var(--lh-2);

    color: var(--clr-primary);
    text-transform: uppercase;
}

.food__content p {
    font-size: var(--fs-20);
    font-weight: var(--fw-400);
    line-height: var(--lh-1);
    letter-spacing: var(--ls);

    color: var(--clr-secondary);
}

.food__price {
    gap: .5rem;
    display: flex;
    flex-direction: column;
}

.food__price span {
    font-size: var(--fs-36);
    font-weight: var(--fw-500);
    line-height: var(--lh-3);

    color: var(--clr-primary);
}

.food__price a {
    font-size: var(--fs-20);
    font-weight: var(--fw-500);
    line-height: var(--lh-1);
    letter-spacing: var(--ls);

    color: var(--clr-light-brown);
}

.food__price a:hover {
    color: var(--clr-dark-brown);
}