@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color-primary: rgba(162, 123, 92, 1);
    --bg-color-secondary: rgba(255, 255, 255, 1);

    --font-color-primary: rgba(255, 255, 255, 1);
    --font-color-secondary: rgba(162, 123, 92, 1);

    --fw-500: 500;
    --ff-primary: 'DM Sans', sans-serif;
}

body {
    padding: 3rem;

    width: 100vw;
    height: 100vh;

    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    outline: none;
    border: 2px solid var(--bg-color-primary);
    padding-inline: 1rem;
    padding-block: .75rem;

    font-size: 1rem;
    font-weight: var(--fw-500);
    font-family: var(--ff-primary);
    line-height: 1.5;
    letter-spacing: .03em;

    color: var(--font-color-primary);
    background-color: var(--bg-color-primary);

    cursor: pointer;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.button:disabled {
    pointer-events: none;
}

.button:hover {
    color: var(--font-color-secondary);
    background-color: var(--bg-color-secondary);
}




