@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary: rgba(18, 18, 18, 1);
    --clr-secondary: rgba(127, 127, 127, 1);
    --clr-light-brown: rgba(162, 123, 92, 1);
    --clr-dark-brown: rgb(123, 80, 43, 1);
    --clr-red: rgba(241, 76, 53, 1);
    --clr-white: rgba(255, 255, 255, 1);

    --fs-12: .75rem;
    --fs-16: 1rem;
    --fs-20: 1.25rem;
    --fs-24: 1.5rem;
    --fs-36: 2.25rem;

    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;

    --lh-1: 1.4;
    --lh-2: 1.3;
    --lh-3: 1.1;

    --ls: .03em;
    --ff-primary: 'DM Sans', sans-serif;
    --tab-border-primary: 1px solid rgba(227, 227, 227, 1);
    --tab-border-highlight: 1px solid rgba(18, 18, 18, 1);
}

body {
    height: 100%;
    min-height: 100vh;
    padding-block: 3em;

    font-size: 1rem;
    font-weight: 400;
    font-family: var(--ff-primary);
    color: var(--clr-primary);
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

ul[role="list"] {
    list-style: none;
}

button {
    width: 100%;
    border: none;
    display: block;
    overflow: visible;

    font: inherit;
    color: inherit;
    line-height: normal;
    background: inherit;

    cursor: pointer;
    -webkit-appearance: none;
    -moz-osx-font-smoothing: inherit;
    -webkit-font-smoothing: inherit;
}

section {
    gap: 3rem;
    display: flex;
    flex-direction: column;
}

.container {
    margin-inline: auto;
    width: min(100% - 1.5rem, 80rem);
}

.food {
    --food-gird-gutter: 1.5rem;
    --food-column-width: 18.75rem;
    display: grid;
    justify-content: center;
    gap: var(--food-gird-gutter);
    grid-template-columns: repeat(auto-fit, var(--food-column-width));

    @media (max-width: 24.375em) {
        --food-gird-gutter: 1rem;
        --food-column-width: 10rem;
    }
}

.food-tabs {
    display: flex;
    justify-content: space-between;
}

.food-tabs__item {
    flex: 1;
    padding-block: 2rem;

    font-size: var(--fs-20);
    font-weight: var(--fw-500);
    line-height: var(--lh-1);

    color: var(--clr-primary);
    text-transform: uppercase;
    border-block: var(--tab-border-primary);

    @media (max-width: 24.375em) {
        font-size: var(--fs-16);
    }
}

.food-tabs__item:has(> button[aria-selected="true"]) {
    border-block: var(--tab-border-highlight);
}

.food__item {
    gap: 1em;
    display: flex;
    flex-direction: column;
}

.food__image {
    position: relative;
}

.food__image img {
    width: 100%;
    display: block;
}

.food__image.sale::before {
    content: "SALE";
    position: absolute;
    top: 0;
    left: 0;
    padding-block: 12px;
    padding-inline: 20px;

    color: var(--clr-white);
    background: var(--clr-red);

    font-size: var(--fs-20);
    font-weight: var(--fw-700);
    line-height: var(--lh-1);
    letter-spacing: var(--ls);
    text-transform: uppercase;

    @media (max-width: 24.375em) {
        padding-block: 8px;
        padding-inline: 12px;
        font-size: var(--fs-12);
    }
}

.food__image.out-stock::before {
    content: "OUT OF STOCK";
    position: absolute;
    top: 0;
    left: 0;
    padding-block: 12px;
    padding-inline: 20px;

    color: var(--clr-white);
    background: var(--clr-primary);

    font-size: var(--fs-20);
    font-weight: var(--fw-700);
    line-height: var(--lh-1);
    letter-spacing: var(--ls);
    text-transform: uppercase;

    @media (max-width: 24.375em) {
        padding-block: 8px;
        padding-inline: 12px;
        font-size: var(--fs-12);
    }
}

.food__content {
    gap: .5em;
    display: flex;
    flex-direction: column;
}

.food__content h3 {
    font-size: var(--fs-24);
    font-weight: var(--fw-500);
    line-height: var(--lh-2);

    color: var(--clr-primary);
    text-transform: uppercase;
    letter-spacing: var(--ls);

    @media (max-width: 24.375em) {
        font-size: var(--fs-16);
    }
}

.food__content p {
    font-size: var(--fs-20);
    font-weight: var(--fw-400);
    line-height: var(--lh-1);
    letter-spacing: var(--ls);

    color: var(--clr-secondary);

    @media (max-width: 24.375em) {
        font-size: var(--fs-12);
    }
}

.food__price {
    gap: .5rem;
    display: flex;
    flex-direction: column;
}

.food__price span {
    font-size: var(--fs-36);
    font-weight: var(--fw-500);
    line-height: var(--lh-3);

    color: var(--clr-primary);

    @media (max-width: 24.375em) {
        font-size: var(--fs-20);
    }
}

.food__price a {
    font-size: var(--fs-20);
    font-weight: var(--fw-500);
    line-height: var(--lh-1);
    letter-spacing: var(--ls);

    color: var(--clr-light-brown);

    @media (max-width: 24.375em) {
        font-size: var(--fs-16);
    }
}

.food__price a:hover {
    color: var(--clr-dark-brown);
}